<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="perfectTeam" class="com.jetbrainslab.khayrullin.team.PerfectTeam">
        <constructor-arg ref="javaSenior"/>
        <constructor-arg ref="htmlGuru"/>
    </bean>

    <bean factory-bean="perfectTeam" factory-method="getBackender"/>

    <bean id="javaJunior" class="com.jetbrainslab.khayrullin.backend.JavaJunior" scope="prototype"/>
    <bean id="javaSenior" class="com.jetbrainslab.khayrullin.backend.JavaSenior" scope="prototype"/>

    <bean id="bootstrapUser" class="com.jetbrainslab.khayrullin.frontend.BootstrapUser" scope="prototype"/>
    <bean id="htmlGuru" class="com.jetbrainslab.khayrullin.frontend.HtmlGuru" scope="prototype"/>
</beans>